<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorite</title>
    <link rel="stylesheet" href="../src/output.css">
    <link rel="shortcut icon" href="../assets/img/fav.png" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css"
        integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header class="py-[15px] sticky top-0 bg-white z-10">
        <div class="container2">
            <nav class="main flex justify-between items-center">
                <nav class="flex justify-start items-center gap-[35px] ">
                    <nav class="navbar_logo">
                        <a href="../index.html">
                            <img src="../assets/img/logo.png" alt="logo" class="max-[450px]:w-[80%]">
                        </a>
                    </nav>

                    <input type="checkbox" id="nav" class="hidden">
                    <label for="nav"
                        class=" full_label h-[100vh] w-[100%] bg-[#7a9ad148] backdrop-blur-[6px] fixed z-[999] top-0 left-0 "></label>
                    <nav
                        class="navbar_links max-[1080px]:fixed max-[1080px]:z-[1000] max-[1080px]:p-[20px] max-[1080px]:flex max-[1080px]:flex-col max-[1080px]:justify-between max-[1080px]:py-[30px] max-[1080px]:px-[20px] max-[1080px]:items-start max-[1080px]:top-0 max-[1080px]:h-[100vh] max-[1080px]:w-[30%] max-[1080px]:bg-[#f9fbff] max-[920px]:w-[35%] max-[740px]:w-[40%] max-[650px]:w-[50%] max-[490px]:w-[65%] max-[340px]:w-[85%]">
                        <label for="nav"
                            class="absolute hidden max-[1080px]:block right-[20px] top-[20px] text-[#B1CEFF] text-[25px]">
                            <i class="fa-solid fa-xmark"></i>
                        </label>
                        <ul
                            class="flex justify-center items-center gap-[30px] text-1 text-[15px] max-[1080px]:mt-[40px] max-[1080px]:flex-col max-[1080px]:gap-[40px] max-[1080px]:items-start">
                            <li><a href="#!" class="hover:text-primary-blue">Аналитика</a></li>
                            <li><a href="#!" class="hover:text-primary-blue">Сообщество</a></li>
                            <li><a href="#!" class="hover:text-primary-blue">Для организаций</a></li>
                            <a href="./application.html"
                                class="btn hidden justify-center items-center gap-[5px] max-[450px]:py-[3px] max-[450px]:px-[20px] max-[340px]:flex"><span
                                    class="max-[450px]:hidden">Создать</span> <span
                                    class="hidden max-[450px]:block">+</span> <span>заявку</span></a>
                        </ul>
                        <a href="#!"
                            class="hover:text-primary-blue text-1 max-[1080px]:justify-start max-[1080px]:items-center max-[1080px]:gap-[20px] hidden max-[1080px]:flex"><img
                                src="./assets/svg/user.svg" alt="">Артём</a>
                    </nav>
                </nav>

                <nav class="flex justify-end items-center gap-[35px]">
                    <a href="../index.html"
                        class="btn flex justify-center items-center gap-[5px] max-[450px]:py-[3px] max-[450px]:px-[20px] max-[340px]:hidden">Главная</a>

                            <nav
                                class="user_notification flex justify-center items-center gap-[35px] max-[630px]:hidden">
                                <!-- message -->
                                <a href="#!">
                                    <svg width="30" height="23" viewBox="0 0 32 25" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.529013 9.83326C0.529013 11.3761 0.960468 12.8359 1.72944 14.1353C2.80362 15.9506 4.53643 17.4529 6.67177 18.4315C8.38867 19.2183 10.3658 19.6665 12.4701 19.6665C19.0649 19.6665 24.4111 15.264 24.4111 9.83326C24.4111 4.4025 19.0649 0 12.4701 0C5.87521 0 0.529013 4.4025 0.529013 9.83326Z"
                                            fill="#B1CEFF" />
                                        <path
                                            d="M6.67177 18.4315C5.44704 18.3862 2.53832 18.4846 0.701239 19.241C0.605558 19.3041 0.356785 19.4207 0.12715 19.3829C-0.102486 19.3451 0.0314674 19.0204 0.12715 18.8628C0.582979 17.4446 1.5416 14.5135 1.72944 14.1353C2.80362 15.9506 4.53643 17.4529 6.67177 18.4315Z"
                                            fill="#B1CEFF" />
                                        <path
                                            d="M29.2677 22.7907L29.2678 22.791C29.2687 22.7931 29.2685 22.7929 29.2677 22.7907ZM26.962 22.8905C27.754 22.9715 28.5453 23.1181 29.136 23.3519C29.2179 23.3977 29.3164 23.4418 29.4241 23.4757C29.5662 23.5203 29.7822 23.5653 30.0258 23.5252C30.2777 23.4837 30.5309 23.3308 30.6642 23.0514C30.7724 22.8247 30.7537 22.6106 30.7369 22.505C30.7111 22.3419 30.6494 22.1958 30.5954 22.0921C30.4222 21.5542 30.1663 20.768 29.9333 20.0713C29.8118 19.7078 29.6956 19.366 29.6003 19.0956C29.5735 19.0196 29.5465 18.9438 29.5202 18.8718C30.0517 17.8638 30.35 16.7439 30.35 15.5628C30.35 10.9117 25.8281 7.37598 20.569 7.37598C15.31 7.37598 10.7881 10.9117 10.7881 15.5628C10.7881 20.214 15.31 23.7497 20.569 23.7497C22.2096 23.7497 23.761 23.412 25.1252 22.811C25.5669 22.8019 26.2417 22.8168 26.962 22.8905Z"
                                            fill="#B1CEFF" stroke="#F9FBFF" stroke-width="1.5" />
                                    </svg>
                                </a>

                                <!-- notification -->
                                <a href="#!">
                                    <svg width="19" height="21" viewBox="0 0 21 23" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.5 23C9.05106 22.9938 7.8762 21.9695 7.86188 20.7H13.1119C13.1146 21.0075 13.0477 21.3124 12.915 21.597C12.5707 22.2893 11.8674 22.7943 11.025 22.954H11.0184H10.9987H10.9751H10.9633C10.8108 22.9818 10.6557 22.9972 10.5 23ZM21 19.55H0V17.25L2.625 16.1V9.775C2.55585 8.15249 2.97404 6.54249 3.83775 5.106C4.69749 3.77374 6.16704 2.82771 7.875 2.507V0H13.125V2.507C16.5099 3.2131 18.375 5.7937 18.375 9.775V16.1L21 17.25V19.55Z"
                                            fill="#B1CEFF" />
                                    </svg>
                                </a>

                                <!-- user profile -->
                                <a href="#!" class="max-[1080px]:hidden">
                                    <img src="../assets/svg/user.svg" alt="user img" class="w-[40px] h-[40px]">
                                </a>
                            </nav>

                            <label for="nav" class="hidden max-[1080px]:block">
                                <svg width="26" height="17" viewBox="0 0 26 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26 17H11.5V15.1667H26V17ZM26 10H0V8.08333H26V10ZM26 3H0V1H26V3Z"
                                        fill="#575756" />
                                </svg>
                            </label>
                </nav>
            </nav>
        </div>
    </header>


    <div class="apllication py-[20px]">
        <div class="container2">
            <div
                class="flex flex-col gap-[45px] p-[30px] bg-[#F9FBFF] rounded-[30px] max-[380px]:bg-bg max-[380px]:p-0">
                <div>
                    <h1
                        class="font-[700] text-[50px] text-[#4d4d4d] max-[1055px]:text-[40px] max-[640px]:text-[30px] max-[390px]:text-[20px]">
                        Создание заявки</h1>
                    <p class="text-[14px] text-1">Для публикации заявки вам необходимо <a href="#!"
                            class="text-primary-blue">зарегистрироваться.</a></p>
                </div>

                <div
                    class="flex justify-between max-[750px]:flex-col max-[750px]:justify-center max-[750px]:items-center max-[750px]:gap-[20px]">
                    <div class="left flex flex-col justify-start items-start gap-[20px] w-[47%] max-[750px]:w-[100%]">
                        <h2
                            class="flex justify-start items-center gap-[10px] font-[600] text-[20px] text-primary-blue ">
                            <img src="../assets/svg/in.svg" alt="">Я хочу
                        </h2>

                        <div
                            class="radioForm flex flex-col justify-center items-start gap-[10px] rounded-[12px] bg-[#fff] py-[25px] px-[20px] w-full">
                            <label for="1"
                                class="cursor-pointer flex justify-start items-center gap-[7px] text-[#656565] text-[15px] max-[380px]:text-[12px]">
                                <input type="radio" name="radio" id="1">
                                Повысить цитируемость работ
                            </label>
                            <label for="2"
                                class="cursor-pointer flex justify-start items-center gap-[7px] text-[#656565] text-[15px] max-[380px]:text-[12px]">
                                <input type="radio" name="radio" id="2">
                                Стать соавтором
                            </label>
                            <label for="3"
                                class="cursor-pointer flex justify-start items-center gap-[7px] text-[#656565] text-[15px] max-[380px]:text-[12px]">
                                <input type="radio" name="radio" id="3">
                                Заказать исследования
                            </label>
                            <label for="4"
                                class="cursor-pointer flex justify-start items-center gap-[7px] text-[#656565] text-[15px] max-[380px]:text-[12px]">
                                <input type="radio" name="radio" id="4">
                                Заказать работу с текстом
                            </label>
                            <label for="5"
                                class="cursor-pointer flex justify-start items-center gap-[7px] text-[#656565] text-[15px] max-[380px]:text-[12px]">
                                <input type="radio" name="radio" id="5">
                                Найти эксперта
                            </label>
                        </div>
                    </div>

                    <div class="right flex flex-col justify-start items-start gap-[20px] w-[47%] max-[750px]:w-[100%]">
                        <h2
                            class="flex justify-start items-center gap-[10px] font-[600] text-[20px] text-primary-blue ">
                            <img src="../assets/svg/in.svg" alt="">Я предлагаю
                        </h2>

                        <div
                            class="radioForm flex flex-col justify-center items-start gap-[10px] rounded-[12px] bg-[#fff] py-[25px] px-[20px] w-full">
                            <label for="check1"
                                class="cursor-pointer flex justify-start items-center gap-[7px] text-[#656565] text-[15px] max-[380px]:text-[12px]">
                                <input type="checkbox" id="check1">
                                Процитировать других
                            </label>
                            <label for="check2"
                                class="cursor-pointer flex justify-start items-center gap-[7px] text-[#656565] text-[15px] max-[380px]:text-[12px]">
                                <input type="checkbox" id="check2">

                                Принять в соавторы
                            </label>
                            <label for="check3"
                                class="cursor-pointer flex justify-start items-center gap-[7px] text-[#656565] text-[15px] max-[380px]:text-[12px]">
                                <input type="checkbox" id="check3">

                                Выполнить исследования
                            </label>
                            <label for="check4"
                                class="cursor-pointer flex justify-start items-center gap-[7px] text-[#656565] text-[15px] max-[380px]:text-[12px]">
                                <input type="checkbox" id="check4">

                                Выполнить работу с текстом
                            </label>
                            <label for="check5"
                                class="cursor-pointer flex justify-start items-center gap-[7px] text-[#656565] text-[15px] max-[380px]:text-[12px]">
                                <input type="checkbox" id="check5">

                                Предоставить услуги
                            </label>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col justify-start items-start gap-[20px]">
                    <h2 class="flex justify-start items-center gap-[10px] font-[600] text-[20px] text-primary-blue ">
                        <img src="../assets/svg/pen.svg" alt="">Название работы
                    </h2>

                    <form action=""
                        class="flex radioForm flex-col justify-center items-start gap-[10px] rounded-[12px] bg-[#fff] py-[25px] px-[20px] w-full h-[100px]">
                        <input type="text" placeholder="Введите название"
                            class="w-full outline-none border-none h-[100%] bg-[#fff]">
                    </form>
                </div>

                <div class="flex flex-col justify-start items-start gap-[20px]">
                    <h2 class="flex justify-start items-center gap-[10px] font-[600] text-[20px] text-primary-blue ">
                        <img src="../assets/svg/text.svg" alt="">Описание работы
                    </h2>

                    <div class="radioForm rounded-[12px] bg-[#fff] py-[25px] px-[20px] w-full">

                        <textarea name="" id="" rows="5" class="bg-[[#fff] w-full outline-none border-none"
                            placeholder="Введите описание"></textarea>
                    </div>
                </div>

                <div
                    class="grid grid-cols-[2fr_3fr_1fr] gap-[15px] w-full max-[1190px]:grid-cols-2 max-[1134px]:grid-cols-1">

                    <div>
                        <h2
                            class="flex justify-start items-center gap-[10px] font-[600] text-[20px] text-primary-blue mb-[20px]">
                            <img src="../assets/svg/save.svg" alt="">Ключевые слова
                        </h2>

                        <div class="radioForm rounded-[12px] bg-[#fff] p-[20px] w-full flex flex-wrap gap-[8px] ">
                            <small
                                class="flex justify-center items-center gap-[10px] px-[10px] py-0 rounded-2xl border border-[#b0bfdb]">первый
                                и очень сильно <img class="cursor-pointer" src="../assets/svg/xmark.svg" alt=""></small>
                            <small
                                class="flex justify-center items-center gap-[10px] px-[10px] py-0 rounded-2xl border border-[#b0bfdb]">второй
                                ключ <img class="cursor-pointer" src="../assets/svg/xmark.svg" alt=""></small>
                            <small
                                class="flex justify-center items-center gap-[10px] px-[10px] py-0 rounded-2xl border border-[#b0bfdb]">третий
                                ключ <img class="cursor-pointer" src="../assets/svg/xmark.svg" alt=""></small>
                            <small
                                class="flex justify-center items-center gap-[10px] px-[10px] py-0 rounded-2xl border border-[#b0bfdb]">четвертый
                                ключ <img class="cursor-pointer" src="../assets/svg/xmark.svg" alt=""></small>
                            <small
                                class="flex justify-center items-center gap-[10px] px-[10px] py-0 rounded-2xl border border-[#b0bfdb]">пятый
                                ключ <img class="cursor-pointer" src="../assets/svg/xmark.svg" alt=""></small>
                            <small
                                class="flex justify-center items-center gap-[10px] px-[10px] py-0 rounded-2xl border border-[#b0bfdb]">шестой
                                ключ <img class="cursor-pointer" src="../assets/svg/xmark.svg" alt=""></small>
                        </div>
                    </div>

                    <div>
                        <h2
                            class="flex justify-start items-center gap-[10px] font-[600] text-[20px] text-primary-blue mb-[20px]">
                            <img src="../assets/svg/state.svg" alt="">Область знаний
                        </h2>

                        <div
                            class="radioForm rounded-[12px] bg-[#fff] py-[25px] px-[20px] w-full flex justify-between items-start max-[650px]:flex-col max-[650px]:gap-[20px]">

                            <div class="flex flex-col justify-center items-start gap-[4px]">
                                <label class="text-[13px] opacity-70" for="state1">
                                    <input type="checkbox" id="state1">
                                    Biology/Genetics
                                </label>

                                <label class="text-[13px] opacity-70" for="state2">
                                    <input type="checkbox" id="state2">
                                    Neuro/Psycho
                                </label>

                                <label class="text-[13px] opacity-70" for="state3">
                                    <input type="checkbox" id="state3">
                                    Medicine/Pharma
                                </label>

                                <label class="text-[13px] opacity-70" for="state4">
                                    <input type="checkbox" id="state4">
                                    Chemistry
                                </label>
                            </div>

                            <div class="flex flex-col justify-center items-start gap-[4px]">
                                <label class="text-[13px] opacity-70" for="state2.1">
                                    <input type="checkbox" id="state2.1">
                                    Math/Computer

                                </label>

                                <label class="text-[13px] opacity-70" for="state2.2">
                                    <input type="checkbox" id="state2.2">
                                    Physics/Astronomy
                                </label>

                                <label class="text-[13px] opacity-70" for="state2.3">
                                    <input type="checkbox" id="state2.3">
                                    Engineering/Material
                                </label>

                                <label class="text-[13px] opacity-70" for="state2.4">
                                    <input type="checkbox" id="state2.4">
                                    Earth/Environment
                                </label>
                            </div>

                            <div class="flex flex-col justify-center items-start gap-[4px]">
                                <label class="text-[13px] opacity-70" for="state3.1">
                                    <input type="checkbox" id="state3.1">
                                    Social
                                </label>

                                <label class="text-[13px] opacity-70" for="state3.3">
                                    <input type="checkbox" id="state3.3">
                                    Humanities/Arts
                                </label>

                                <label class="text-[13px] opacity-70" for="state3.4">
                                    <input type="checkbox" id="state3.4">
                                    Management/Economics
                                </label>
                            </div>

                        </div>
                    </div>

                    <div>
                        <h2
                            class="flex justify-start items-center gap-[10px] font-[600] text-[20px] text-primary-blue mb-[20px]">
                            Срок исполнения
                        </h2>

                        <div class="radioForm rounded-[12px] bg-[#fff] py-[25px] px-[20px] w-full">
                            <input type="date" name="" id="" class="opacity-70 outline-none border-none">
                        </div>
                    </div>


                </div>

                <div
                    class="flex justify-center items-center gap-[40px] text-[14px] max-[720px]:flex-col max-[720px]:gap-[10px] max-[390px]:mb-[30px]">
                    <label class="flex justify-center items-center gap-[4px] opacity-70" for="bottom">
                        <input type="checkbox" name="" class="bg-opacity-100" id="bottom">
                        Скрыть от других пользователей
                    </label>

                    <label class="flex justify-center items-center gap-[4px] opacity-70" for="bottom2">
                        <input type="checkbox" name="" class="bg-opacity-100" id="bottom2">
                        Скрыть от поисковиков
                    </label>
                </div>
            </div>

            <!-- <div class="flex justify-center items-center gap-[40px] m-[30px]">
                <a href="#!" class="btn">+ добавить заявку</a>
                <a href="#!" class="btn btn_blue">Опубликовать</a>
            </div> -->

            <div class="flex justify-center items-center">
                <small class="text-[#b8b8b8] text-[13px] text-center w-full">Вам не придется заново заполнять форму,
                    после регистрации <br> ваша заявка будет отправлена на
                    публикацию.</small>

            </div>
        </div>
    </div>
    </div>



    <!-- footer -->
    <footer class="bg-footer-bg py-[30px]">
        <div class="container2">
            <div
                class="footer_grid text-white flex justify-between items-center max-[1130px]:flex-col max-[1130px]:gap-[40px]">
                <div class="footer_content justify-center items-center max-[1130px]:order-2 max-[1130px]:text-center">
                    <p>Authortie <br>
                        <span class="opacity-70">© Все права защищены</span>
                    </p>
                </div>

                <ul
                    class="flex justify-center items-center gap-[30px] text-[15px] max-[1130px]:order-1 max-[1130px]:w-full max-[1130px]:justify-between pb-[20px]   max-[1130px]:border-b  max-[1130px]:border-b-[#343434] max-[645px]:flex-col">
                    <li><a href="#!" class="hover:text-primary-blue">Конфиденциальности</a></li>
                    <li><a href="#!" class="hover:text-primary-blue">Аналитика</a></li>
                    <li><a href="#!" class="hover:text-primary-blue">Сообщество</a></li>
                    <li><a href="#!" class="hover:text-primary-blue">Организаций</a></li>
                </ul>
                <div class="flex justify-center items-center gap-[20px] max-[1130px]:order-3">
                    <a href="#!"><img src="../assets/svg/facebook.svg" alt=""></a>
                    <a href="#!"><img src="../assets/svg/instagram.svg" alt=""></a>
                    <a href="#!"><img src="../assets/svg/telegram.svg" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

</body>

</html>